<%= content_for :scripts do %>
<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
<% end %>

<%= content_for :styles do %>
<%= stylesheet_link_tag 'index', 'data-turbolinks-track' => true %>
<% end %>


<div class="container">
  <div class="row row-separator hidden-xs"></div>

  <header class="row">
    <nav id="index-navbar" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#index-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to "", root_path, class: "navbar-brand icon icon-pelp-logo" %>
        </div>

        <div class="collapse navbar-collapse" id="index-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Zaloguj się", new_user_session_path %></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="row"><%= bootstrap_flash %></div>

  <section class="row">
    <div class="jumbotron">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <h1>Public E-Learning Platform</h1>
            <p class="jumbo-text text-justify"><strong>PELP</strong> - to publiczna platforma do e-learningu. Nauczanie elektroniczne może służyć zarówno do publikacji materiałów dla szerokiego grona osób, jak i do przeprowadzania rozbudowanych sprawdzaniów lub do stworzenia możliwości komunikacji między uczniem a nauczycielem.</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <%= form_for User.new do |f| %>
            <div class="form-group">
              <%= f.text_field :name, placeholder: "Imię i nazwisko", class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.text_field :email, placeholder: "Email", class: "form-control", required: true, pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: "Hasło", class: "form-control", required: true %>
              <span class="help-block">Minimum 6 znaków.</span>
            </div>
            <div class="form-group">
              <%= f.submit "Zarejestruj się w PELP", class: "btn btn-success btn-lg btn-block" %>
              <span class="help-block">Rejestrując się w serwisie akceptujesz nasz <a href="#">regulamin</a> oraz <a href="#">politykę prywatności</a>.</span>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render 'layouts/footer', classes: 'no-border' %>
