<% content_for :styles do %>
    <%= stylesheet_link_tag 'home', 'data-turbolinks-track' => true %>
<% end %>

<div class="jumbotron logo-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="icon icon-pelp-logo"></h1>
            </div>
        </div>
    </div>
</div>

<div class="home-buttons">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6"><%= link_to "Zaloguj się", new_user_session_path, class: 'btn btn-success btn-lg btn-block' %></div>
            <div class="col-xs-12 row-separator visible-xs"></div>
            <div class="col-xs-12 col-sm-6"><%= link_to "Zarejestruj się", new_user_path, class: 'btn btn-default btn-lg btn-block' %></div>
        </div>
    </div>
</div>

<div class="container">
    <%= bootstrap_flash %>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><strong>PELP</strong> - to publiczna platforma do e-learningu. Nauczanie elektroniczne może służyc
                    zarówno do publikacji materiałów dla szerokiego grona osób, jak i do przeprowadzania rozbudowanych
                    sprawdzaniów lub do stworzenia możliwości komunikacji między uczniem a nauczycielem.</p>
            </div>
            <div class="col-xs-12">
                <p>Nasze rozwiązania proponujemy absolutnie za darmo. Rejestracja i użytkowanie nic nie kosztuje,
                    obsługa platformy jest prosta i intuicyjna a całość systemu jest udostępniana z naszego serwera
                    przez co nie potrzeba już znajomości i posiadania skomplikowanych technologii sieciowych do
                    uruchomienia produktu.</p>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
