<% content_for :title, 'Wiadomości' %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'messages', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :scripts do %>
    <script>var VIEW_DATA = <%= @view_data_json.html_safe %>;</script>
    <%= javascript_include_tag 'messages', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
  <%= bootstrap_flash %>
  <div class="row">
    <div class="col-xs-12">
      <h1>Wiadomości</h1>

      <div class="row-separator"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2">
      <div class="btn-group btn-group-justified">
        <a id="compose-btn" href="#compose" class="btn btn-success" data-toggle="modal" data-target="#compose-modal">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a id="refresh-btn" href="#refresh" data-loading-text="<i class='glyphicon glyphicon-refresh rotate'></i>" class="btn btn-info">
          <i class="glyphicon glyphicon-refresh"></i>
        </a>
      </div>

      <div class="row-separator"></div>

      <div class="panel panel-default">
        <div class="panel-heading">Foldery</div>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#received" data-toggle="tab">Odebrane</a></li>
          <li><a href="#flagged" data-toggle="tab">Oflagowane</a></li>
          <li><a href="#sent" data-toggle="tab">Wysłane</a></li>
          <li><a href="#all" data-toggle="tab">Wszystkie</a></li>
          <li><a href="#trash" data-toggle="tab">Kosz</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10">
      <div class="tab-content">
        <div class="tab-pane active" id="received">
          <div class="panel panel-default">
            <div class="list-group" data-bind="template: { name: 'message-list-tpl', data: { messages: receivedMessages() } }"></div>
          </div>
        </div>
        <div class="tab-pane" id="flagged">
          <div class="panel panel-default">
            <div class="list-group" data-bind="template: { name: 'message-list-tpl', data: { messages: flaggedMessages() } }"></div>
          </div>
        </div>
        <div class="tab-pane" id="sent">
          <div class="panel panel-default">
            <div class="list-group" data-bind="template: { name: 'message-list-tpl', data: { messages: sentMessages() } }"></div>
          </div>
        </div>
        <div class="tab-pane" id="all">
          <div class="panel panel-default">
            <div class="list-group" data-bind="template: { name: 'message-list-tpl', data: { messages: allMessages() } }"></div>
          </div>
        </div>
        <div class="tab-pane" id="trash">
          <div class="panel panel-default">
            <div class="list-group" data-bind="template: { name: 'message-list-tpl', data: { messages: trashMessages() } }"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<%= javascript_tag_no_cdata id: 'message-list-tpl', type: 'text/html' do %>
    <!-- ko foreach: messages --> <%# Jesus, it's amazing! %>
    <div href="#" class="list-group-item list-item-message">
      <%#I made this div because knockout was pushing delete link out of rest of message%>
      <h4 class="list-group-item-heading" data-bind="text: title"></h4>

      <p class="list-item-text" data-bind="text: body"></p>
      <a data-bind="attr: { href: '/messages/' + id }" data-method="delete">
        Usuń
      </a>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: messages.length -->
    <div class="panel-body text-center"><h4>Brak wiadomości.</h4></div>
    <!-- /ko -->
<% end %>

<div id="compose-modal" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="compose-modal-title" class="modal-title">Utwórz wiadomość</h4>
      </div>
      <div class="modal-body">
        <%= form_for Message.new, html: {id: 'compose-form', class: 'form-horizontal'} do |f| %>
            <div class="form-group">
              <label for="receiver-input" class="col-sm-2 control-label">Adresaci</label>

              <div class="col-sm-10">
                <%= f.text_field :receivers, id: 'receiver-input', value: '', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="title-input" class="col-sm-2 control-label">Tytuł</label>

              <div class="col-sm-10">
                <%= f.text_field :title, id: 'title-input', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <label for="message-input" class="col-sm-2 control-label">Wiadomość</label>

              <div class="col-sm-10">
                <%= f.text_area :body, id: 'message-input', rows: '6', class: 'form-control' %>
              </div>
            </div>
            </div>
            <div class="modal-footer">
              <button id="send-msg-btn" type="submit" data-loading-text="Wysyłanie <i class='glyphicon glyphicon-refresh rotate'></i>" class="btn btn-primary" name="commit">Wyślij</button>
              <button id="cancel-msg-btn" type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
            </div>
        <% end %>
        </div>
  </div>
</div>
