<% content_for :title, 'Zaloguj się' %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'account', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container-fluid form-container">

    <%= bootstrap_flash %>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Zaloguj się</div>
                <div class="panel-body">
                    <%= simple_form_for(:user, url: session_path(:user)) do |f| %>
                        <%= f.input :email, required: true %>
                        <%= f.input :password, label: "Hasło", required: true %>
                        <%= f.input :remember_me, as: :boolean, label: false, inline_label: "Zapamiętaj mnie" %>
                        <%= f.submit "Zaloguj się", class: "btn btn-primary" %>
                        <%= link_to "Nie pamiętam hasła", new_user_password_path, class: "btn btn-default" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</div>

<%= render 'layouts/footer' %>
