<%# content_for :title, 'Kokpit' %>

<%= content_for :scripts do %>
<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
<%# <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
<% end %>

<%= content_for :styles do %>
<%= stylesheet_link_tag 'dashboard', 'data-turbolinks-track' => true %>
<% end %>


<%= render 'layouts/navbar' %>

<div class="container">
    <div class="row"><h1>Hello World!</h1></div>
</div>

<%= render 'layouts/footer' %>
