<%# content_for :title, 'Kokpit' %>

<%= content_for :scripts do %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
<% end %>

<%= content_for :styles do %>
<%= stylesheet_link_tag 'dashboard', 'data-turbolinks-track' => true %>
<% end %>


<%= render 'layouts/navbar' %>

<div class="container">
    <ol class="breadcrumb">
        <li class="active">Strona główna</li>
    </ol>
    <div class="row">
        <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#" class="btn btn-default btn-xs pull-right">Więcej</a>
                        Ostatnia aktywność
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="list-group-item-text">19 paź, 13:10</p>
                            <h4 class="list-group-item-heading">Cras justo odio</h4>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">19 paź, 13:10</p>
                            <h4 class="list-group-item-heading">Dapibus ac facilisis in</h4>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">19 paź, 13:10</p>
                            <h4 class="list-group-item-heading">Morbi leo risus</h4>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">19 paź, 13:10</p>
                            <h4 class="list-group-item-heading">Porta ac consectetur ac</h4>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-text">19 paź, 13:10</p>
                            <h4 class="list-group-item-heading">Vestibulum at eros</h4>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="col-xs-12 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <%= link_to "Wszystkie kursy", courses_path, class: "btn btn-primary btn-xs pull-right", data: { 'no-turbolink' => 'no-turbolink' } %>
                        Moje kursy
                    </div>
                    <ul class="list-group">
                      <% @courses.each do |c| %>
                        <li class="list-group-item"><%= link_to c.name, course_path(c) %></li>
                      <% end %>
                    </ul>
                    <%= will_paginate @courses %>
                </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>
