<% content_for :title, @user.name %>
<% breadcrumb :user, @user %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'profile', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
    <%= bootstrap_flash %>
    <%= render 'layouts/breadcrumb' %>
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-8">
            <div id="user-profile-jumbo" class="jumbotron text-center" style="border-color: <%= string_to_pastel @user.name, :darker %>">
                <h1><%= @user.name %></h1>

                <p>Na <i class="icon icon-pelp-logo"></i> od <strong><%= @user.existing_since %></strong></p>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <% if @user == current_user %>
                        <a href="#" class="btn btn-default btn-xs pull-right">Edytuj profil</a>
                    <% end %>
                    O mnie
                </div>
                <table class="table">
                    <tr>
                        <td>Lorem.</td>
                        <td>Lorem ipsum.</td>
                    </tr>
                    <tr>
                        <td>Aperiam!</td>
                        <td>Perspiciatis, accusamus.</td>
                    </tr>
                    <tr>
                        <td>Eius.</td>
                        <td>Mollitia, eligendi.</td>
                    </tr>
                    <tr>
                        <td>Officiis.</td>
                        <td>Laborum, eum?</td>
                    </tr>
                    <tr>
                        <td>Eum.</td>
                        <td>Ullam, illum.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <% @courses.each do |c| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <%= render 'courses/course_card', course: c %>
            </div>
        <% end %>
        <div class="col-xs-12 text-center"><%= will_paginate @courses, class: 'pagination-sm' %></div>
    </div>
</div>

<%= render 'layouts/footer' %>
