<% content_for :title, @user.name %>
<% breadcrumb :user, @user %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'profile', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
    <%= bootstrap_flash %>
    <%= render 'layouts/breadcrumb' %>
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-8">
            <div id="user-profile-jumbo" class="jumbotron text-center" style="border-color: <%= string_to_pastel @user.name, :darker %>">
                <h1><%= @user.name %></h1>

                <p>Na <i class="icon icon-pelp-logo"></i> od <strong><%= @user.existing_since %></strong></p>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <% if @user == current_user %>
                        <%= link_to "Edytuj profil", edit_user_path(@user), class: 'btn btn-default btn-xs pull-right' %>
                    <% end %>
                    O mnie
                </div>
                <table class="table">
                  <% if @user.location.present?  %>
                    <tr>
                        <td class="text-center"><span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span></td>
                        <td><%= @user.location %></td>
                    </tr>
                  <% end %>
                  <% if @user.company.present?  %>
                    <tr>
                        <td class="text-center"><span aria-hidden="true" class="glyphicon glyphicon-briefcase"></span></td>
                        <td><%= @user.company %></td>
                    </tr>
                  <% end %>
                  <% if @user.contact_mail.present?  %>
                    <tr>
                        <td class="text-center"><span aria-hidden="true" class="glyphicon glyphicon-envelope"></span></td>
                        <td><%= mail_to @user.contact_mail, @user.contact_mail  %></td>
                    </tr>
                  <% end %>
                  <% if @user.home_url.present?  %>
                    <tr>
                        <td class="text-center"><span aria-hidden="true" class="glyphicon glyphicon-link"></span></td>
                        <td><a href="<%= @user.home_url %>"><%= pretty_url @user.home_url %></a></td>
                    </tr>
                  <% end %>
                  <% if @user.note.present?  %>
                    <tr>
                        <td class="text-center"><span aria-hidden="true" class="glyphicon glyphicon-bullhorn"></span></td>
                        <td><%= @user.note %></td>
                    </tr>
                  <% end %>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Administrator kursów: </h2>
        <div class="row-separator">
        </div>
      </div>
        <% @courses.each do |c| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <%= render 'courses/course_card', course: c %>
            </div>
        <% end %>
        <div class="col-xs-12 text-center"><%= will_paginate @courses, class: 'pagination-sm' %></div>
    </div>
</div>

<%= render 'layouts/footer' %>
