<%#TODO: Add styles%>
<%= content_for :scripts do %>
<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
<% end %>

<%= content_for :styles do %>
<%= stylesheet_link_tag 'common', 'data-turbolinks-track' => true %>
<% end %>
<div>
  <ul>
    <% @courses.each do |c| %>
      <li>
        <%= render 'course', course: c %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @courses %>
</div>
