<% content_for :title, 'Wszystkie kursy' %>
<% breadcrumb :courses %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'dashboard', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
    <%= bootstrap_flash %>
    <%= render 'layouts/breadcrumb' %>
    <div class="row">
        <div class="col-xs-12">
          <%= link_to new_course_path, class: "btn btn-primary btn-sm pull-right" do %>
            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
            Dodaj kurs
          <% end %>
          <h1>
            Wszystkie kursy
          </h1>
            <div class="row-separator"></div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= form_tag courses_path, method: :get, role: 'search', id: "search_courses" do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Szukaj kursu"%>
            <div class="input-group-btn">
              <%= button_tag class: "btn btn-default", name: nil do %>
                <i class="glyphicon glyphicon-search"></i>
                Szukaj
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
        <% @courses.each do |c| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <%= render 'course_card', course: c, path: 'add_user_course_path' %>
            </div>
        <% end %>
        <div class="col-xs-12 text-center"><%= will_paginate @courses, class: 'pagination-sm' %></div>
    </div>
</div>

<%= render 'layouts/footer' %>
