<% content_for :title, @course.name %>
<% breadcrumb :course, @course %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'course', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
    <%= bootstrap_flash %>
    <%= render 'layouts/breadcrumb' %>
    <div class="row">
        <div class="col-xs-12">
            <div id="course-jumbo" class="jumbotron" style="border-color: <%= string_to_pastel "#{@course.name}#{@course.id}" %>">
                <%# TODO Show this button only if current user is an owner of this course. %>
                <%= link_to 'Ustawienia', settings_course_path(@course), class: 'btn btn-default btn-xs pull-right' %>
                <h1><%= @course.name %></h1>
                <% if @course.description %>
                    <p><%= @course.description %></p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <%# TODO Better category layout if possible. %>
        <% @lesson_categories.each do |lc| %>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-<%= lc.flagged ? 'primary' : 'default' %> lesson-category-panel">
                    <div class="panel-heading"><%= lc.name %></div>
                    <ul class="list-group">
                        <% lc.lessons.each do |l| %>
                            <li class="list-group-item">
                                <a href="#"><i class="glyphicon glyphicon-book"></i> <%= l.name %></a>
                            </li>
                        <% end %>
                        <% if lc.exams.any? %>
                            <% lc.exams.each do |e| %>
                                <li class="list-group-item">
                                    <%= link_to new_user_exam_path(e) do %>
                                        <i class="glyphicon glyphicon-check"></i> <%= e.name %>
                                    <% end %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
</div>

<%= render 'layouts/footer' %>
