<% content_for :title, @course.name %>
<% breadcrumb :course, @course %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'course', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
    <%= bootstrap_flash %>
<<<<<<< HEAD
    <%= render 'layouts/breadcrumb' %>
    <div class="row">
        <div class="col-xs-12">
            <div id="course-jumbo" class="jumbotron" style="border-color: <%= string_to_pastel "#{@course.name}#{@course.id}" %>">
                <h1><%= @course.name %></h1>
                <% if @course.description %>
                    <p><%= @course.description %></p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <%= render 'course_nav' %>
        </div>
        <div class="col-xs-12 col-md-6">
            <% @lesson_categories.each do |lc| %>
                <% if lc.flagged %>
                    <div class="panel panel-primary">
                <% else %>
                    <div class="panel panel-default">
                <% end %>
                <div class="panel-heading"><%= lc.name %></div>
                <ul class="list-group">
                    <%# Ikonkę pozycji można zmieniać %>
                    <% lc.lessons.each do |l| %>
                        <li class="list-group-item">
                            <a href="#"><i class="glyphicon glyphicon-asterisk"></i> <%= l.name %></a>
                        </li>
                    <% end %>
                </ul>
                </div>
            <% end %>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="#" class="btn btn-default btn-xs pull-right">Więcej</a>
                        Terminy
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Cras justo odio</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Dapibus ac facilisis in</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Morbi leo risus</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Porta ac consectetur ac</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Vestibulum at eros</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= link_to 'Więcej', activity_course_path(@course), class: 'btn btn-default btn-xs pull-right' %>
                        Ostatnia aktywność
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Lorem ipsum.</p>

                            <p class="list-group-item-text text-muted">31 paź, 11:03</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Tenetur, a!</p>

                            <p class="list-group-item-text text-muted">31 paź, 11:03</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Aut, quam.</p>

                            <p class="list-group-item-text text-muted">31 paź, 11:03</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Cum, reiciendis!</p>

                            <p class="list-group-item-text text-muted">31 paź, 11:03</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Cras justo odio</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Dapibus ac facilisis in</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Morbi leo risus</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Porta ac consectetur ac</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                        </li>
                        <li class="list-group-item">
                            <p class="list-group-item-heading">Vestibulum at eros</p>

                            <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                        </li>
                    </ul>
                </div>
=======
    <div class="row">
        <div class="col-xs-12">
            <%= render 'course_nav' %>
        </div>
    </div>
    <div class="row row-separator"></div>
    <div class="row">
        <div class="col-xs-12 col-md-9 col-md-push-3">
            <div id="course-jumbo" class="jumbotron" style="border-color: <%= string_to_pastel "#{@course.name}#{@course.id}" %>">
                <h1><%= @course.name %></h1>
                <% if @course.description %>
                    <p><%= @course.description %></p>
                <% end %>
            </div>

            <% @lesson_categories.each do |lc| %>
                <div class="panel panel-<%= lc.flagged ? 'primary' : 'default' %> lesson-category-panel">
                    <div class="panel-heading"><%= lc.name %></div>
                    <ul class="list-group">
                        <% lc.lessons.each do |l| %>
                            <li class="list-group-item">
                                <a href="#"><i class="glyphicon glyphicon-book"></i> <%= l.name %></a>
                            </li>
                        <% end %>
                        <% if lc.exams.any? %>
                            <% lc.exams.each do |e| %>
                                <li class="list-group-item">
                                    <%= link_to exam_course_path(@course, e) do %>
                                        <i class="glyphicon glyphicon-check"></i> <%= e.name %>
                                    <% end %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
        <div class="col-xs-12 col-md-3 col-md-pull-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default btn-xs pull-right">Więcej</a>
                    Terminy
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Cras justo odio</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Dapibus ac facilisis in</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Morbi leo risus</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Porta ac consectetur ac</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Vestibulum at eros</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10 / <a href="#">Kurs 1234</a></p>
                    </li>
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#" class="btn btn-default btn-xs pull-right">Więcej</a>
                    Ostatnia aktywność
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Lorem ipsum.</p>

                        <p class="list-group-item-text text-muted">31 paź, 11:03</p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Tenetur, a!</p>

                        <p class="list-group-item-text text-muted">31 paź, 11:03</p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Aut, quam.</p>

                        <p class="list-group-item-text text-muted">31 paź, 11:03</p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Cum, reiciendis!</p>

                        <p class="list-group-item-text text-muted">31 paź, 11:03</p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Cras justo odio</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Dapibus ac facilisis in</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Morbi leo risus</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Porta ac consectetur ac</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-heading">Vestibulum at eros</p>

                        <p class="list-group-item-text text-muted">19 paź, 13:10</p>
                    </li>
                </ul>
>>>>>>> remotes/origin/feature/exams
            </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>
