<div style="border: 1px dotted black" class="answer" data-id=<%= answer.id %>>
  <p class="answer_name" data-id=<%= answer.id %>><%= answer.name %></p>
  <% open ||= answer.question.open? %>
  <% unless open %>
    <p class="correct_answer" data-correct="P" data-false="F"><%= answer.correct ? "P" : "F" %></p>
  <% end %>
  <a href="#" title="Edytuj" class="edit_answer_link">Edytuj odpowiedź</a>
  <div class="answer_edit_form hidden">
    <% if open %>
      <%= render 'exams/edit_open_answer_form', question: answer.question, answer: answer %>
    <% else %>
      <%= render 'exams/edit_single_answer_form', question: answer.question, answer: answer %>
    <% end %>
  </div>
  <p>
    <%= link_to "Usuń odpowiedź", question_answer_path(answer.question_id, answer), method: :delete,
        remote: true, data: { type: 'json' }, class: 'destroy_answer'%>
  </p>
</div>
