<% content_for :title, "#{@course} | Nowa lekcja" %>
<% breadcrumb :new_material_category, @course %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'exam-editor', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag 'exam-editor', 'data-turbolinks-track' => true %>
<% end %>

<%= render 'layouts/navbar' %>

<div class="container">
    <%= bootstrap_flash %>
    <%= render 'layouts/breadcrumb' %>
    <div>
      <%= render 'form', submit: 'Stwórz' %>
    </div>
</div>
