<% content_for :title, @exam.name %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'exam', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag 'exam', 'data-turbolinks-track' => true %>
<% end %>

<div class="exam-question-text text-justify">
    <p><%= @question.name %></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, consectetur cumque et in incidunt ipsum itaque
        laborum minima modi non omnis quas, similique veritatis. Eaque.</p>

    <p>Animi deleniti dolor molestiae tempore ut? Aperiam cum delectus dolorem excepturi exercitationem, facilis fuga
        illo nostrum pariatur quae quia quos recusandae reiciendis temporibus vero voluptas.</p>

    <p>A amet ipsam maxime mollitia placeat praesentium, quia quis rem reprehenderit repudiandae sit sunt temporibus
        voluptatibus? Accusantium commodi consequuntur enim error, possimus sequi unde ut.</p>

    <p>At excepturi id minus nobis non, odit optio quidem quis recusandae sint, ullam voluptates. Adipisci dolor est
        maiores optio porro quas qui quod ratione repellat.</p>

    <p>Accusamus ad consequatur dignissimos ex labore laborum nihil quibusdam temporibus, velit. Accusamus consectetur
        facilis harum in magnam magni omnis? Deserunt eligendi perspiciatis reiciendis rem tempore?</p>

    <p>Atque cupiditate dicta dignissimos dolorem doloribus eius nam, nobis obcaecati provident tenetur? Ab autem,
        cumque debitis esse excepturi illum minus, placeat praesentium ratione repellat unde!</p>

    <p>Accusantium beatae delectus esse iusto quibusdam quidem sunt tempore! Animi aut consequatur dicta eaque explicabo
        incidunt molestiae odit omnis qui repudiandae tenetur vel vitae, voluptas.</p>

    <p>Accusantium alias eveniet maxime. Accusamus amet animi asperiores dolore dolorem error inventore iste laborum
        minus molestias necessitatibus odio omnis optio quas repellat sint sunt, tenetur?</p>

    <p>Aperiam asperiores commodi in, magnam pariatur placeat quam similique sint. Accusamus aliquid culpa dicta laborum
        non odio, sit temporibus! Eum incidunt perferendis sunt voluptate voluptatum?</p>

    <p>Adipisci assumenda, debitis eius harum itaque iusto nihil voluptatibus! Architecto aut commodi ea illo libero
        magni nam, natus nihil quis, repellendus sapiente sit voluptas voluptatibus!</p>

    <p>Aliquid consectetur delectus et laboriosam magni pariatur placeat recusandae. Asperiores cumque ducimus enim, eum
        explicabo harum illo minima mollitia perferendis quod tempore ut voluptas? Eum!</p>

    <p>Adipisci atque, debitis dolorem eveniet excepturi fuga fugiat laborum modi, optio qui recusandae sint tenetur
        voluptatum! Itaque magni modi molestiae necessitatibus nostrum tempora voluptas? Perspiciatis!</p>

    <p>Autem dolor doloremque laboriosam, magnam nobis quae vero. Alias aliquam autem deleniti enim error esse, illo
        laboriosam modi, mollitia necessitatibus placeat recusandae reiciendis sequi, totam.</p>

    <p>Ad autem consequuntur delectus dicta dignissimos error est expedita facilis ipsa magnam magni modi necessitatibus
        placeat quae quam, quidem reiciendis rem reprehenderit sequi sint ut.</p>

    <p>Accusantium ad architecto autem dolor dolore fugit inventore ipsum, iusto odio, quaerat quia quidem recusandae
        reiciendis sunt tempora temporibus veritatis. Beatae expedita nemo nihil possimus?</p>

    <p>Atque distinctio dolores, ipsam laboriosam laudantium magnam maxime minima molestias necessitatibus nesciunt,
        omnis quos repudiandae rerum tenetur vel veritatis vitae! Deserunt facere impedit minus quia?</p>

    <p>Animi cum dignissimos dolor eaque, eius impedit in molestiae, odit officia praesentium provident quam quas
        quibusdam sapiente sed sint voluptatum? Illum iste maiores molestiae suscipit!</p>

    <p>Ab accusamus aut autem culpa doloremque exercitationem, fuga fugiat impedit natus odio perspiciatis quas, qui
        quis sed sint, suscipit temporibus velit. Iste nemo odit sapiente?</p>

    <p>Aliquid amet assumenda aut consectetur distinctio eligendi explicabo, incidunt inventore iste iusto laudantium
        maiores molestias nam nesciunt nihil nulla quis, repellendus sed, veniam voluptas voluptates.</p>

    <p>Atque corporis cum dicta maiores numquam pariatur quaerat quisquam quos vitae? Ad adipisci aliquam aperiam beatae
        debitis illum, inventore maiores modi qui quia repellendus suscipit?</p>
</div>

<div class="exam-answer-wrapper">
    <%= simple_form_for :answer, url: answer_user_exam_path, html: {class: 'panel panel-default exam-answer-panel'} do |f| %>
        <div class="panel-heading">Twoja odpowiedź <span class="label label-info pull-right">2 pkt.</span></div>
        <div class="panel-body">
            <div class="form-group">
                <% case @question.form %>
                <% when 'single' %>
                    <%= f.collection_radio_buttons :id, @question.answers.to_a.shuffle, :id, :name, item_wrapper_tag: :div, item_wrapper_class: 'radio' %>
                <% when 'multiple' %>
                    <%= f.collection_check_boxes :id, @question.answers.to_a.shuffle, :id, :name, item_wrapper_tag: :div, item_wrapper_class: 'checkbox' %>
                <% else %>
                    <%= f.input :text, label: false, required: true %>
                <% end %>
            </div>
            <div class="row-separator"></div>
            <div class="text-center">
                <div class="btn-group">
                    <%= f.button :submit, 'Odpowiedz', class: 'btn-primary' %>
                    <a id="end-exam-btn" class="btn btn-default" href="">Zakończ test</a>
                </div>
            </div>
        </div>
    <% end %>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom exam-question-navbar">
    <div class="container-fluid">
        <p class="navbar-text"><%= @exam.name %></p>

        <p class="navbar-text navbar-right">
            <i class="glyphicon glyphicon-time"></i>
            <span class="counter-clock" data-counter-clock-on-exhausted="window.location.reload()">5:00</span>

            <span class="sep"></span>

            <i class="glyphicon glyphicon-question-sign"></i>
            <%= session[:user_exam_questions_count] - session[:user_exam_questions].size + 1 %>
            / <%= session[:user_exam_questions_count] %>

            <span class="sep"></span>

            <i class="glyphicon glyphicon-ok"></i>
            <%= session[:result] %> / <%= @exam.max_points %> pkt.
        </p>
    </div>
</nav>