<footer class="container <%= if defined? classes; classes end %>">
  <div class="row">
    <div class="col-xs-6 col-sm-5">
      <ul class="footer-links">
        <li>Made with <i class="glyphicon glyphicon-heart"></i> in Tarnów, Poland</li>
      </ul>
    </div>
    <div class="col-sm-2 hidden-xs text-center">
      <p><%= link_to "", root_path, class: "icon icon-pelp-logo" %></p>
    </div>
    <div class="col-xs-6 col-sm-5 text-right">
      <ul class="footer-links">
        <li><%= link_to "Regulamin", rules_path %></li>
        <li><%= link_to "Prywatność", privacy_path %></li>
        <li><%= link_to "Pomoc", help_path %></li>
      </ul>
    </div>
  </div>
</footer>
