<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <%= link_to "", root_path, class: "navbar-brand icon icon-pelp-logo" %>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <%#= active_link_to "Kokpit", root_path, wrap_tag: :li %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kursy <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-colors" role="menu">
                        <li class="dropdown-header">Ostatnie</li>
                        <li class="colored" style="border-color: <%= string_to_pastel 'Kurs 1' %>"><a href="#">Lorem ipsum dolor sit amet lorem.</a></li>
                        <li class="colored" style="border-color: <%= string_to_pastel 'Kurs 2' %>"><a href="#">Kurs 2</a></li>
                        <li class="colored" style="border-color: <%= string_to_pastel 'Kurs 3' %>"><a href="#">Kurs 3</a></li>
                        <li class="colored" style="border-color: <%= string_to_pastel 'Kurs 4' %>"><a href="#">Kurs 4</a></li>
                        <li class="colored" style="border-color: <%= string_to_pastel 'Kurs 5' %>"><a href="#">Kurs 5</a></li>
                        <li class="colored" style="border-color: <%= string_to_pastel 'Kurs 6' %>"><a href="#">Kurs 6</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Wszystkie</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="navbar-account dropdown-toggle" data-toggle="dropdown">
                        <span class="navbar-username"><%= current_user.name %></span>
                        <img src="/assets/noavatar.svg" class="navbar-avatar hidden-xs"/>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <%= active_link_to "Mój profil", user_path(current_user), wrap_tag: :li, data: { 'no-turbolink' => 'no-turbolink' } %>
                        <li><a href="#">Ustawienia</a></li>
                        <li class="divider"></li>
                        <li><%= link_to "Wyloguj się", destroy_user_session_path, data: { 'no-turbolink' => 'no-turbolink' } %></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
