<ul class="nav navbar-nav navbar-left">
    <%= active_link_to 'Kursy', courses_path, wrap_tag: :li %>
    <li class="dropdown">
        <%= link_to courses_path, class: 'dropdown-toggle iconized', data: {toggle: :dropdown}, title: 'Ostatnie' do %>
            <i class="glyphicon glyphicon-time"></i>
            <span class="text">Ostanie</span>
        <% end %>
        <ul class="dropdown-menu" role="menu">
            <% current_user.last_visited_courses(6).each do |c| %>
                <%= active_link_to c.name, course_path(c), wrap_tag: :li %>
            <% end %>
        </ul>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <%= active_link_to current_user.name, user_path(current_user), wrap_tag: :li %>
    <% if false %>
      <%= active_link_to root_path, wrap_tag: :li, class: 'iconized', title: 'Ustawienia' do %> <%# TODO Link %>
          <i class="glyphicon glyphicon-cog"></i>
          <span class="text">Ustawienia</span>
      <% end %>
    <% end %>
    <!-- TODO <%= active_link_to root_path, wrap_tag: :li, class: 'iconized', title: 'Społeczność' do %>
        <i class="glyphicon glyphicon-user"></i>
        <span class="text">Społeczność</span>
    <% end %>-->
    <li>
        <%= link_to destroy_user_session_path, class: 'iconized', title: 'Wyloguj się', data: {'no-turbolink' => 'no-turbolink'} do %>
            <i class="glyphicon glyphicon-log-out"></i>
            <span class="text">Wyloguj się</span>
        <% end %>
    </li>
</ul>
