<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%= content_for?(:title) ? "Pelp | #{yield(:title)}" : "Pelp" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :styles %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
